.tab {
    padding: 0.5em;
    outline: 2px solid transparent;
    background-color: var(--header-color);
    cursor: pointer;
}

.tab:hover {
    background-color: transparent;
    outline-color: var(--header-color);
}

.tab:active {
    background-color: var(--header-color);
}

.selected {
    background-color: transparent;
    outline-color: var(--header-color);
}