.tab {
    padding: 0.5em;
    background-color: var(--header-color);
    cursor: pointer;
}

.tab:hover {
    background-color: transparent;
    outline: 2px solid var(--header-color);
}

.selected {
    background-color: var(--hover-color);
}