.hidden {
    display: none;
}

.task-section-root {
    grid-column: 2;
    color: var(--color-white);
    background-color: var(--task-lists-color);
    padding: 0.5em;
}

#create-task-form-button {
    width: 100%;
    padding: 0.3em;
    font-size: 1em;
    font-weight: bold;
    color: inherit;
    background-color: var(--header-color);
    border-color: var(--color-white);
    border-radius: 5px;
}

.task-form-root {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.task-form {
    width: max-content;
    height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border: 2px solid var(--task-lists-color);
    border-radius: 5px;
    background-color: var(--hover-color);
}

.form-row {
    width: 100%;
}

.multi-input-row {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 1em;
}

#priority-input {
    flex-basis: 1
}

#deadline-input {
    flex-basis: 1
}

.task-input {
    width: 100%;
}

#description-input {
    resize: none;
}

#create-task-button {
    width: 100%;
    padding: 0.5em;
}

.task-card {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 0.5em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border: 2px solid var(--hover-color);
    border-radius: 5px;
    background-color: var(--header-color);
}

.task-card[data-priority = 'low'] {
    background-color: var(--color-green);
}

.task-card[data-priority = 'medium'] {
    background-color: var(--color-yellow);
}

.task-card[data-priority = 'high'] {
    background-color: var(--color-red);
}

.task-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-title {
    font-size: 1.5em;
}

#task-deadline {
    align-self: self-end;
}

.button-row {
    text-align: right;
    margin-top: 0.5em;
}

.task-button {
    padding: 0.1em;
    background-color: transparent;
}

#edit-task-button {
    margin-right: 0.2em
}