.main {
    height: 92vh;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-black);
}

.sidebar {
    padding: 0.5em;
}

.section-root {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 0.5em;
}

.section-heading {
    font-size: 1.5em;
}

.create-button {
    width: 100%;
    padding: 0.3em;
    font-size: 1em;
    font-weight: bold;
    color: inherit;
    background-color: var(--header-color);
    border: 2px solid var(--header-color);
    border-radius: 5px;
}

.create-button:hover {
    background-color: transparent;
    border-color: var(--color-white);
}

.date-input {
    text-align: center;
    color: inherit;
    background-color: transparent;
}
