.hidden {
    display: none;
}

#create-task-list-input-row {
    font-size: 1em;
    height: 2em;
}

#create-task-list-input {
    height: 100%;
}

#create-task-list-button {
    height: 100%;
}

#select-all-task-lists-button {
    margin-bottom: 0.9em;
    padding: 0.5em;
    border: 1px solid var(--color-white);
    border-radius: 2px;
    background-color: var(--color-black);
}

#select-all-task-lists-button:hover {
    background-color: var(--header-color);
}

#select-all-task-lists-button:active {
    background-color: var(--hover-color);
}

#select-all-task-lists-button.selected {
    background-color: var(--header-color);
}

.task-list-input-row {
    height: max-content;
    display: flex;
    align-items: center;
    font-size: 1.2em;
    border: 2px solid transparent;
}

.task-list-input-row:has(.task-list-input:read-only):hover {
    border-color: var(--color-white);
}

.task-list-input:read-only {
    color: var(--color-white);
    background-color: var(--header-color);
    cursor: pointer;
}

.task-list-input:read-only:focus {
    outline: none;
}

#general-task-list {
    text-align: center;
}

.task-list-button {
    padding: 0.2em;
    font-size: 0.8em;
    text-align: center;
    height: 100%;
}

.task-list-button:nth-of-type(2) {
    border-right: none;
}

.task-list-button:nth-of-type(1):hover {
    color: var(--color-black);
}

.task-list-button:nth-of-type(2):hover {
    color: var(--color-red);
}

.task-lists-root {
    padding-top: 0.5em;
}

.task-list {
    margin-bottom: 0.5em;
}