.sort-tabs-root {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 0.5em;
}

.sort-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sort-order-button {
    background-color: transparent;
}