:root {
    --color-white: #ffffff;
    --color-black: #111010e3;
    --color-green: #74c731;
    --color-yellow: #c7c431;
    --color-red: #cf473d;
    --header-color: #3bb2c2;
    --task-lists-color: #7ccfeb;
    --hover-color: #1dbdee;
}

@font-face {
    font-family: 'Cause';
    src: url('../../assets/fonts/Cause-VariableFont_wght.ttf');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Cause', sans-serif, system-ui;
}

button,
input {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    box-sizing: inherit;
    border: none;
}

button {
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--header-color);
}

input {
    width: 100%;
    padding: 0.2em;
}

input:focus {
    outline: 1px solid var(--header-color);
}