.main {
    height: 90vh;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
}

.sidebar {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 0.5em;
    color: var(--color-white);
    background-color: var(--task-lists-color);
    padding: 0.5em;
}