.main {
    height: 90vh;
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    text-align: center;
}

.sidebar {
    color: var(--color-white);
    background-color: var(--task-lists-color);
    padding: 0.5em;
}

.section-root {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 0.5em;
}

.section-heading {
    font-size: 1.5em;
}